body {
  padding: 0;
  margin: 0; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:active {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.navbar {
  /* nevbar: */
  width: 100%;
  height: 70px;
  background: #2DA8DF;
  /* MONEYTRACKING: */
  font-family: Choplin-Medium-DEMO;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 24px;
  border-radius: 0px; }

.container {
  width: 824px;
  margin: 0 auto;
  padding: 0; }

.container.body {
  padding-top: 30px; }

.navbar #logo {
  margin: 20px 0 0 0;
  float: left; }

.left-box {
  float: left;
  width: 25%; }

.right-box {
  float: left;
  width: 75%; }

.navbar #logo-name {
  /* MONEYTRACKING: */
  font-family: Choplin-Medium-DEMO;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 24px;
  margin: 28px 0 0 10px;
  float: left; }

.navbar #login-name {
  margin: 20px 0 0 0;
  float: right;
  font-family: DBAdmanXRegular;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 20px; }

.navbar .arrow-bottom {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #FFFFFF transparent transparent transparent;
  float: right;
  margin: 8px 0 0 5px; }

.circle_group {
  width: 35px;
  margin: 0 auto;
  padding-left: 5px;
  margin-top: 5px; }

.circle {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background: #fff;
  margin-right: 5px;
  float: left; }

.circle.active {
  background: #1F6C8E; }

/* menu-toggle */
#menu-toggle {
  cursor: pointer; }

menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0px;
  z-index: 1;
  width: 200px;
  height: 100%;
  padding-top: 10px;
  background: #214454;
  padding-left: 0px;
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear; }
  menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    menu ul li a {
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin: 0 10px;
      padding: 10px 15px;
      color: #fff;
      text-decoration: none; }
    menu ul li a:hover {
      background: #fff;
      color: #2DA8DF; }

.navbar, .main {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear; }

/*
   Com a classe menu-active na tag HTML
*/
.menu-active menu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.menu-active .navbar,
.menu-active .main,
.menu-active .cal-bg {
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px); }

/* content-body */
.date-box {
  width: 140px;
  padding: 7px 0 7px 0;
  background: #DAEAF1;
  border: 1px solid #66BEE5;
  border-radius: 5px;
  text-align: center; }
  .date-box #today {
    font-family: DBAdmanXRegular;
    font-size: 20px;
    color: #39A2D1;
    line-height: 21px; }
  .date-box .date {
    /* 9 July 2015: */
    font-family: DBAdmanXRegular;
    font-size: 20px;
    color: #545454;
    line-height: 21px; }

.menu {
  margin: 30px 0 0 0; }
  .menu .menu-title {
    /* Graph: */
    font-family: Choplin-ExtraLight-DEMO;
    font-size: 18px;
    color: #214454;
    line-height: 22px;
    margin: 15px 0 0 0;
    position: relative; }
    .menu .menu-title a {
      color: #214454;
      display: inline-block; }
    .menu .menu-title a:after {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      background: transparent;
      transition: width .5s ease, background-color .5s ease; }
    .menu .menu-title a:hover {
      color: #2DA8DF; }
    .menu .menu-title a:hover:after {
      width: 100%;
      background: #2DA8DF; }
  .menu .menu-title.active {
    /* Record: */
    font-family: Choplin-Medium-DEMO; }
  .menu i {
    width: 25px;
    color: #2DA8DF; }

.content-title {
  /* Record Expenses: */
  width: 100%;
  font-family: DBAdmanXRegular;
  font-size: 24px;
  color: #214454;
  line-height: 26px;
  margin-top: 15px;
  float: left; }
  .content-title i {
    color: #2DA8DF;
    font-size: 20px; }
  .content-title .add-icon {
    float: right;
    font-size: 28px; }
  .content-title .right-detail {
    float: right;
    font-size: 20px; }
    .content-title .right-detail a:link {
      color: #DCDCDC; }
    .content-title .right-detail a:visited {
      color: #DCDCDC; }
    .content-title .right-detail a:hover {
      color: #DCDCDC; }
    .content-title .right-detail a:active {
      color: #2DA8DF; }
    .content-title .right-detail a.active {
      color: #2DA8DF; }

.content {
  width: 100%;
  clear: both;
  float: left;
  margin-top: 16px;
  border-top: 1px solid #DCDCDC;
  padding: 15px 0 0 0; }

.grey {
  background-color: #F3F3F3; }

.icon {
  float: left;
  margin-bottom: 20px;
  cursor: pointer; }
  .icon .icon-expenses {
    width: 78px;
    height: 78px;
    background: #214454;
    border-radius: 12px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    text-align: center; }
    .icon .icon-expenses i {
      margin-top: 23px;
      font-size: 35px;
      color: #ffffff; }
  .icon .icon-expenses:active {
    border: 5px solid #2DA8DF; }
  .icon .icon-title {
    font-family: DBAdmanXRegular;
    font-size: 20px;
    color: #666666;
    line-height: 20px;
    width: 78px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px; }

.icon.favorite .icon-expenses {
  background-size: 32px;
  background-position: center 18px;
  position: relative; }
  .icon.favorite .icon-expenses i.fa-star {
    position: absolute;
    top: 8px;
    right: 7px;
    color: #80B4CC;
    font-size: 15px; }
  .icon.favorite .icon-expenses .price {
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    font-family: DBAdmanXRegular; }

.income .icon-expenses {
  background-color: #2DA8DF; }

.income .icon-title {
  color: #2DA8DF; }

.space {
  width: 30px;
  height: 78px;
  float: left; }

.cal-bg {
  width: 100%;
  height: 330px;
  position: fixed;
  bottom: 0px;
  background: rgba(72, 95, 115, 0.71);
  display: none; }

div.desktop-input {
  position: absolute;
  background: #2DA8DF;
  width: 400px;
  border-radius: 5px;
  padding: 10px 15px;
  left: 50%;
  margin-left: -200px;
  z-index: 100;
  margin-top: 12px; }
  div.desktop-input div.input-group {
    float: left;
    width: 78%;
    font-family: DBAdmanXRegular;
    margin: 0 auto; }
  div.desktop-input button {
    float: left;
    width: 20%;
    height: 46px;
    margin-left: 2%;
    font-family: DBAdmanXRegular;
    font-size: 22px; }

div.desktop-input:after, .desktop-input:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

div.desktop-input:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #2DA8DF;
  border-width: 15px;
  margin-left: -15px; }

.cal-body {
  width: 310px;
  height: 330px;
  bottom: 0px;
  padding: 10px;
  margin: 0 auto; }
  .cal-body input {
    background: rgba(244, 244, 244, 0.94);
    border: 1px solid #66BEE5;
    border-radius: 5px;
    width: 100%;
    height: 56px; }
  .cal-body .delete {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 22px;
    right: 25px;
    background-image: url(../img/icon/delete.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center; }
  .cal-body .value {
    background: rgba(229, 229, 229, 0.92);
    border-radius: 5px;
    width: 70px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 12px 0;
    float: left;
    font-size: 28px;
    font-family: DBAdmanXRegular;
    text-align: center; }
    .cal-body .value a {
      color: #214454; }
  .cal-body .sign {
    border-radius: 5px;
    width: 100%;
    background: #8FAECF;
    margin-bottom: 4px;
    padding: 1.5px 0;
    text-align: center;
    font-size: 28px; }
    .cal-body .sign a {
      color: #214454;
      font-family: DBAdmanXRegular; }
  .cal-body .left {
    margin-top: 5px;
    width: 77%;
    height: 200px;
    float: left; }
  .cal-body .right {
    margin-top: 5px;
    height: 200px;
    width: 23%;
    float: right; }
  .cal-body .bottom {
    clear: both;
    float: left;
    width: 100%;
    height: 50px;
    margin-top: 4px; }
    .cal-body .bottom .value {
      padding: 3px 0; }
    .cal-body .bottom .done {
      background: #2DA8DF;
      border-radius: 5px;
      float: right;
      width: 142px;
      padding: 6px 0;
      font-size: 24px;
      text-align: center; }
      .cal-body .bottom .done a {
        color: #fff; }

.result-box {
  position: absolute;
  top: 180px;
  left: 50%;
  margin-left: -68px;
  width: 136px;
  height: 70px;
  z-index: 100;
  background: #1F6C8E;
  border: 3px solid #2DA8DF;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  border-radius: 27px; }
  .result-box img {
    width: 40px;
    margin-left: 18px;
    margin-top: 10px;
    float: left; }
  .result-box p {
    float: left;
    font-size: 30px;
    color: #ffffff;
    font-family: DBAdmanXRegular;
    margin-top: 12px;
    margin-left: 12px; }

#setting h5, #setting span {
  float: left; }
#setting span.detail {
  color: #868686;
  font-size: 13px; }
#setting .switch {
  float: right; }

#add-category {
  padding: 30px 30px 30px 40px; }
  #add-category .form-group {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ffffff;
    overflow: auto; }
  #add-category #title {
    margin-left: 24px; }
  #add-category form #add-money {
    width: 100%;
    clear: both;
    float: left; }
    #add-category form #add-money label {
      padding-left: 0px;
      float: left;
      clear: both;
      width: 50%; }
    #add-category form #add-money input {
      width: 100%;
      float: right; }
  #add-category .switch {
    float: right; }
  #add-category button {
    clear: both;
    margin-right: 5px;
    float: right;
    padding: 10px 30px;
    background-color: #2DA8DF;
    border: 1px solid #2DA8DF; }

.add-box {
  /* Rectangle 7 Copy 8: */
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 12px;
  width: 70px;
  height: 70px;
  text-align: center;
  float: left; }
  .add-box i {
    font-size: 30px;
    color: #DCDCDC;
    margin-top: 18px; }

@media (max-width: 768px) {
  .container {
    width: 70%;
    padding: 0 15px; }

  .container.body {
    padding-top: 8px; }

  .navbar #logo {
    display: none; }

  .navbar #logo-name {
    text-align: center;
    float: none; }

  .navbar #login-name {
    display: none; }

  .nav-icon {
    float: left;
    width: 35px;
    height: 35px;
    background-size: 32px;
    background-repeat: no-repeat;
    margin-top: -30px;
    background-position: center; }

  .nav-icon.right {
    float: right; }

  .left-box {
    width: 100%;
    float: none;
    margin: 0 auto; }

  .right-box {
    float: none;
    margin: 20px auto;
    width: 100%; }

  .menu {
    display: none; }

  .date-box {
    /* Rectangle 384: */
    width: 100%; }

  .date-box #today {
    font-family: DBAdmanXRegular;
    font-size: 20px;
    color: #39A2D1;
    line-height: 21px; }

  .date-box .date {
    display: none; }

  .icon {
    width: 33.3%; }

  #add-category {
    margin-top: -20px; } }
@media (max-width: 480px) {
  .container {
    width: 90%; }

  #add-category {
    width: 100%; } }
@media (max-width: 332px) {
  h4 {
    font-size: 16px; }

  .container {
    width: 300px;
    padding: 0 10px; }

  .container.body {
    padding-top: 0px; }

  .navbar {
    margin-bottom: 15px; }

  .date-box {
    padding: 5px 0 5px 0; }

  .navbar #logo-name {
    font-size: 18px; }

  .nav-icon.right {
    background-size: 27px; }

  .right-box {
    margin: 0 auto;
    width: 100%; }

  .content {
    border: 0px; }

  .icon-expenses {
    width: 72px;
    height: 72px;
    background-size: 35px; }

  #setting {
    margin-top: -20px; }

  #add-category {
    margin-top: 0px;
    padding: 25px; } }

/*# sourceMappingURL=style.css.map */
